node_modules/
dist/
coverage/
.env
out/
platform-api
data/
*.db
__debug_bin
runtime-bundles/linux-amd64/*.tar.gz
runtime-bundles/linux-amd64/*.deb
runtime-bundles/linux-amd64/crictl
runtime-bundles/linux-amd64/ctr
runtime-bundles/linux-amd64/k3s
runtime-bundles/linux-amd64/kubectl
